:root {
  /* Primary */
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  /*Paragraphs */
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  /*Background, headings, buttons*/
  --Very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  background: var(--Very-light-gray);
}

.cards {
  display: flex;
  flex-direction: column;
}

.card {
  padding: 3rem;
  width: 325px;
  > .title {
    font-family: "Big Shoulders Display";
    color: var(--Very-light-gray);
    margin: 1rem 0;
  }
  > .description {
    color: var(--Transparent-white);
    font-family: "Lexend Deca";
    font-size: 15px;
    line-height: 1.6rem;
  }
  > .learn-more {
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    width: 70%;
    margin-top: 1rem;
    font-family: "Lexend Deca";
    font-weight: 700;
    transition: all 0.3s;
  }
  > .learn-more:hover {
    border: 2px solid var(--Very-light-gray);
    cursor: pointer;
  }
}

#sedans {
  background: var(--Bright-orange);
  border-radius: 0.5rem 0.5rem 0 0;
  > .learn-more {
    color: var(--Bright-orange);
  }
  > .learn-more:hover {
    color: var(--Very-light-gray);
    background: var(--Bright-orange);
  }
}

#suvs {
  background: var(--Dark-cyan);
  > .learn-more {
    color: var(--Dark-cyan);
  }
  > .learn-more:hover {
    color: var(--Very-light-gray);
    background: var(--Dark-cyan);
  }
}

#luxury {
  background: var(--Very-dark-cyan);
  border-radius: 0 0 0.5rem 0.5rem;
  > .learn-more {
    color: var(--Very-dark-cyan);
  }
  > .learn-more:hover {
    color: var(--Very-light-gray);
    background: var(--Very-dark-cyan);
  }
}

.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
  font-family: sans-serif;
}
.attribution a {
  color: hsl(34, 100%, 50%);
  text-decoration: none;
  transition: all 0.3s;
}
.attribution a:hover {
  color: cyan;
}

@media (min-width: 1000px) {
  .cards {
    display: flex;
    flex-direction: row;
  }
  .card {
    > .description {
      margin: 3rem 0 6rem 0;
    }
  }
  #sedans {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  #luxury {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
