.star {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--Very-Dark-Blue);
}

h1 {
  color: var(--White);
  margin: 1rem 0rem;
}

p {
  color: var(--Light-Grey);
  line-height: 1.6rem;
  font-size: 0.9rem;
}

.available {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0rem;
}

.available_item {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  background-color: var(--Very-Dark-Blue);
  color: var(--Medium-Grey);
  cursor: pointer;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.available_item:hover {
  background-color: var(--Orange);
  color: var(--White);
}

.available_item:focus {
  background-color: var(--Light-Grey);
  color: var(--White);
}

.available_item.active {
  background-color: var(--Light-Grey);
  color: var(--White);
}

button.submit {
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  color: var(--White);
  background-color: var(--Orange);
  border-radius: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}

button:hover {
  background-color: var(--White);
  color: var(--Orange);
}