figure.backarrow img{
  width: 2rem;
  cursor: pointer;
}

figure.thankyou {
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
}
.selected {
  background-color: var(--Very-Dark-Blue);
  border-radius: 1rem;
  display: grid;
  place-items: center;
  margin: 2rem 0rem;
  padding: 0.2rem;
}
.selected p {
  margin-top: 0.2rem;
  color: var(--Orange);
}
h1 {
  text-align: center;
}

p {
  font-size: 1rem;
  text-align: center;
}