:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
  background: var(--light-gray);
}

main {
  padding: 1rem;
  text-align: center;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  width: 375px;
}

main img {
  border-radius: 1rem;
  width: 100%;
}

main h1 {
  color: var(--dark-blue);
  font-size: 1.6rem;
  margin: 1rem auto;
}

main p {
  color: var(--grayish-blue);
  margin-bottom: 1.6rem;
}

footer {
  font-size: 11px; 
  text-align: center;
  padding: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer a {
  color: hsl(228, 45%, 44%);
}
